.alert{
  transition: all ease-in-out 0.5s;
  position: fixed;
  top: 300px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 210px;
  z-index: 99;
  background-color: #ffffff;
  color: #4d4d4d;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  padding: 30px;
  opacity: 0;

  &__text-wrapper{
    color: #4d4d4d;
  }

  &__image{
    margin: 20px 0px;
  }

  &--active{
    top: 240px;
    opacity: 1;
  }
}