.header{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 100px;
  line-height: 53px;
  font-weight: 900;
  width: 100%;
  background-color: #142664;
  box-shadow: -2px 14px 46px -7px rgba(0,0,0,0.58);
  z-index: 99;

  &__image{
    width: 100%;
  }
}