.header{
  transition: all ease-in-out 0.5s;
  position: absolute;
  transform: translateY(-110%);
  top: 0;
  left: 0;
  color: white;
  font-size: 100px;
  line-height: 53px;
  font-weight: 900;
  width: 100%;
  background-color: #142664;
  z-index: 99;

  &--show{
    transform: translateY(0%);
  }

  &__image{
    width: 100%;
  }
}