html{
  min-height: 100%;
  background: black;
}

body{
  font-family: Raleway;
  width: 100%;
  margin: auto;
  height: 100%;
}

.transition--disable{
  transition: initial !important;
}

/* хром, сафари */
body::-webkit-scrollbar { width: 0; }

/* ie 10+ */
body { -ms-overflow-style: none; }

/* фф (свойство больше не работает)*/
body { overflow: -moz-scrollbars-none; }